<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planificación Vigilancia - Icónica Sevilla 2026</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <img src="/Pacma_Negro.png" alt="logo pacma">
    <h1>📋 Cuadrante de Vigilancia - Icónica Sevilla Fest 2026</h1>
    <p class="descripcion">Introduce la asignación del equipo y las observaciones por cada día de evento. Los cambios se guardarán directamente en el archivo JSON.</p>

    <form action="/guardar" method="POST">
        <div class="contenedor-tarjetas">
            <!-- TARJETAS_DINAMICAS -->
        </div>
        
        <button type="submit" class="btn-guardar">💾 Guardar Cambios</button>
    </form>

</body>
</html>
